---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- if recommended %}

{% set recommendedPosts = collections.posts | postsBySlug(recommended) %}

{%- if recommendedPosts %}

<h2>Recommended posts</h2>

<ul>

  {%- for recommendedPost in recommendedPosts -%}
  
  <li><a href="{{ recommendedPost.url | url }}">{{ recommendedPost.data.title }}</a></li>
  
  {%- endfor %}
  
</ul>

{%- endif %}

{%- endif %}


